@media (max-width:1199px){.navbar-brand img{width:30px;height:30px;}
.our-hostels{height:1000px;}
.style-2 article{display:block;}
.style-2 .post-body{border:1px solid rgba(77, 77, 77, 0.1);border-top:none;}
.top-menu li a{padding:0px 0px;margin-right:0px;margin-left:0px;display:block;color:#ffffff;margin:0;text-align:right;}
}
@media (max-width:991px){.navbar-brand img{width:30px;height:30px;}
.our-hostels{height:1000px;}
.top-menu li a{padding:0px 0px;margin-right:0px;margin-left:0px;display:block;color:#ffffff;margin:0;text-align:right;}
.display-flex{display:block;width:100%;}
.top-header-content .col-md-6{text-align:center;}
.top-nav{float:none;}
.top-menu li{float:none;}
.top-menu li:last-child a{margin-right:20px;}
.main-header .display-flex, .footer-head .display-flex, .lower-footer-area .display-flex{display:flex;}
.cart-subtotal{display:none;}
.mega-menu{right:0;}
.header-slider .owl-dot{width:120px;}
.shop-short-by{text-align:center;margin:20px 0;}
.pagination-bar{float:left;width:100%;}
.pagination-content{margin-top:30px;}
.paginations{text-align:right;}
.pagination{text-align:center;}
.pagination-content .compare-form{margin:15px 0;}
.single-product .row > div{float:left;width:100%;}
.single-product-thumb{float:left;width:100%;}
.single-product-thumb .tab-pane img{width:100%;}
.single-product-thumb .nav-tabs{margin-right:50px;}
.single-product-thumb .nav-tabs>li{margin-bottom:50px;}
.single-product-thumb .tab-content{width:calc(100% - 150px);}
.blog-module article + article{margin-top:30px;}
.style-2 .post-thumb img{width:100%;}
.blog-page-main .product-count{margin:19px 0;}
.footer-widgets > div:nth-child(3){clear:left;}
.comparison-header{min-width:120px;}
}
@media (max-width:767px){.top-block + .top-block{margin-left:9px;}
.our-hostels{height:450px;}
.navbar-brand img{width:30px;height:30px;}
#welcome-block{display:none;}
.top-menu{display:none;position:absolute;z-index:950;background-color:#212121;white-space:nowrap;padding:0;margin:0;right:0;list-style:none;}
.top-menu li{display:block;}
.top-menu li a{padding:5px 20px;line-height:2;display:block;color:#ffffff;margin:0;text-align:left;}
.top-nav .selected{display:block;}
.main-header .display-flex, .footer-head .display-flex, .lower-footer-area .display-flex{display:block;}
.main-header-content .col-sm-4{margin-top:10px;margin-bottom:10px;float:left;width:100%;text-align:center;}
.site-logo-link{margin:0;}
.block-minicart{float:none;display:inline-block;margin:0 auto;}
.block-minicart:hover .on-minicart{display:none;}
.navbar-collapse{position:absolute;z-index:990;}
.style-3 .navbar-collapse{background-color:#333333;}
.main-menu{float:left;width:100%;}
.main-menu > li{display:block;float:left;width:100%;text-align:left;}
.main-menu>li>a{padding-top:10px;padding-bottom:10px;}
.main-menu li:last-child, .main-menu li:only-child{border-bottom:none;}
.main-menu li a{display:block;position:relative;margin-right:30px;z-index:0;}
.main-menu li a:not(:only-child):after{content:"\f067";font-family:"FontAwesome";position:absolute;right:-15px;z-index:1;}
.navbar-nav .open .dropdown-menu{float:left;width:100%;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#ffffff;}
.mega-menu{padding:0 !important;}
.md-1-4, .md-2-4, .md-3-4, .md-1-3, .md-2-3{width:100%;}
.menu-row, .menu-column{padding:0;margin:0;}
.menu-column{border:none !important;}
.menu-column .menu-row + .menu-row{margin-top:0;}
.menu-title > a{color:#ffffff !important;padding:5px 15px 5px 25px;text-transform:none;font-weight:400;margin:0;}
.menu-items{display:none;}
.menu-title:hover > .menu-items{display:block;}
.menu-banner{display:none !important;}
.header-slider .slider-item{height:490px;}
.slider-caption h1{font-size:7rem;}
.slider-caption h2{font-size:2.4rem;}
.display-inline{display:block;}
.slider-caption .display-inline + .display-inline{margin-left:0;}
.slider-caption .btn{margin-top:0;}
.owl-dot{width:12px;}
.header-slider .owl-dot{width:45px;}
.btn-big{font-size:1.4rem;padding:7px 15px;}
.page-header{margin:30px 0;padding:40px 20px;}
.call-to-action h1{font-size:7rem;}
.call-to-action h2{font-size:3.6rem;}
.featured-product .product-name{margin-bottom:10px;padding-top:20px;}
.featured-product .rating{margin-bottom:10px;}
.featured-product .price{margin-bottom:15px;}
.shop-short-by{margin-top:20px;}
.toolbar .row > div:first-child{text-align:center;}
.itemnum-wrap{margin-top:20px;}
.pagination-content .compare-form{text-align:center;}
.paginations , .post-listing-wrap .paginations{text-align:center;padding:0;}
.product-count{text-align:center;}
.single-product-thumb .nav-tabs{margin-right:10px;width:50px;}
.single-product-thumb .nav-tabs>li{margin-bottom:5px;}
.single-product-thumb .tab-content{width:calc(100% - 60px);}
.single-product-thumb{margin-bottom:25px;}
.product-review-wrap > div:last-child{margin-right:0;}
.to-write-review{clear:left;}
.product-attr-table{margin:15px 0;}
.attr-item{display:block;width:100%;}
.attr-item + .attr-item{margin-left:0;}
.order-variation{display:block;width:100%;margin:10px 0;}
.share-to-social{font-size:1.1rem;padding:4px 6px;}
.review-head{width:100%;}
.review-body{width:100%;border-top:1px solid #eeeeee;}
.review + .review{margin-top:20px;}
.comment-form{margin:0 15px;}
#testimonial-wrap{padding-left:15px;padding-right:15px;}
.subscribe-form input[type="email"]{font-size:1.2rem;padding:8px 12px;width:calc(100% - 94px);}
.subscribe-form *[type=submit]{width:86px;margin-left:5px;height:36px;line-height:36px;font-size:12px;}
.footer-head{float:left;width:100%;}
.footer-logo{text-align:center;margin:0 auto;float:none;display:block;}
.footer-head .socials{margin-bottom:20px;float:left;width:100%;}
.social + .social{margin-left:2px;}
.social a{height:32px;width:32px;line-height:32px;}
.copyright{text-align:center;}
.payments{text-align:center;}
.page-title{font-size:2rem;}
.cart_summery td, .cart_summery th{padding:5px;}
.cart_product, .cart_product_content, .cart_avail, .cart_avail_content, .cart_voucher{display:none;}
.cart_quantity_content input{padding:0 !important;}
.next-wrap .col-sm-6{text-align:center;}
.next-wrap .col-sm-6 + .col-sm-6{margin-top:15px;}
.comparison-table{border:1px solid #909090;}
.comparison-cell{display:block;}
.comparison-cell .share-on-social{width:inherit;float:none;}
.comparison-cell .share-on-social .social{float:none;}
.comparison-value{border-bottom:none;border-top:none;padding-top:5px;padding-bottom:5px;text-align:center;}
.account-form{margin-bottom:30px;}
.contact-icon{width:30px;height:30px;line-height:30px;font-size:2rem;}
.contact-content{font-size:1.4rem;}
.payment-img{width:32px;margin-right:10px;float:left;}
.payment-method .panel-title a span{font-size:1.1rem;}
.payment-method .panel-title a span b{font-size:1.4rem;display:block;}
.shipping-form{float:left;width:100%;}
.shipping-form td{padding:5px;}
#terms, #terms + label, #terms + label + a{float:left;}
#terms + label{width:calc(100% - 30px);}
.add-to-cart-content .btn{padding:5px 10px;font-size:1.1rem;}
}