language: php

php:
- 5.5
- 5.6
- 7.0
- 7.1
- 7.2
- hhvm

before_script:

-  composer self-update

- composr install --prefer-source --no-interaction --dev

#

script: phpunit

matrix:
  allow_failures:
    - php:  5.6
    
    - php:  hhvm
   
   fast_finish: true

notifications:
    
    on_success: always
    
    on_failure: always
